* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
}
body {
  height: 100vh;
  background: linear-gradient(#000000 50%, #ffb92a 50%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 37em;
  border-radius: 0.6em;
  background-color: #201f28;
  padding: 3em 1.8em;
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}

#movie-name,
#result,
#search-btn {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

#movie-name {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  padding: 0.7em;
  color: #ffffff;
}

#search-btn {
  background-color: #ffb92a;
  border: none;
}

#result {
  color: #ffffff;
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: #a0a0a0;
  margin-top: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid #a0a0a0;
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}
